.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #fcfcfc;
    font-family: 'Splash', cursive;
  }
  .display {
    width: 79.2%;
    margin: 0 auto;
  
  }
  .mobile{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    width: 400px;
    height: 60px;}
    .burger{
      width: 50px;
      height: 50px;
    }

  .header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
  }
  .hederone {
    display: flex;
  }
  .travel {
    margin-left: 73px;
    position: relative;
  }
  .di{
    position: relative;
  }
  .nav {
    display: flex;
  }
  .ul {
    display: flex;
  }
  .home {
    margin-right: 73px;
    position: relative;
  }
  .navicon {
    width: 20px;
    height: 20px;
  }
  .explord {
    font-size: 22px;
    margin-left: 5px;
  }
  .burgericon{
    display: none;
  }
  .section_1 {
    width: 100%;
    background-image: url("../imgs/image.png");
   
    height: 300px;
    background-position: center;
    background-size: cover;
    
  }
  .box{
    width:100%;
    height: 300px;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }
    
    
  .section1_p{
    font-size: 20px;
    opacity: 0.72;
  }
  .section1_h{
    font-size: 46px;
  }
  .section1_p2{
    font-size: 10px;
  }
  .section_2{
    width: 80%;
    margin: 47px auto;
  }
  .section2_h{
    font-size: 32px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .section2_p1{
    margin-left: 10px;
  }
  .section2_p2{
    margin-left: 10px;
    margin-top: 20px;
  }
  .section2_photo{
    width: 100%;
    margin-top: 20px;
  }
  .section2_imeg{
    width: 100%;
  }
  .section2_h2{
    font-size: 32px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .section2_p3{
    margin-left: 10px;
    margin-top: 20px;
  }
  .section2_botam{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .section2_bottamtitle{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
  }
  .section2_botamimg{
    width: 100px;
    height: 100px;
  }
  .section2_bottamphoto{
    width: 100%;
  }
  .section2_botamicons{
    width: 200px;
    margin-left: 20px;
    line-height: 1.3;
    
  }
  .bottamm_icons{
    opacity: 0.2;
  }
  .bottamtitle_p{
    font-size: 15px;
    opacity: 0.35;
  }
  .botamtitle_h{
    font-size: 20px;
  }
  .buttontitle_p2{
    margin-top: 10px;
    font-size: 15px;
  }
  .footer{
    width: 100%;
    display: flex;
    height: 220px;
    align-items: center;
    margin-top: 30px;
    margin: 30 auto;
    
    
    
  }
  .footer_firstside{
    width: 350px;
    
  }
  .copyrighte{
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  .footer_h{
    font-size: 22px;
  }
  .footer_copy{
    font-size: 18px;
    opacity: 0.27;
  }
  .foter_travel{
    margin-top: 30PX;
  }
  .footer_p{
    font-size: 15;
    opacity: 0.58;
    margin-top: 5px;
  }
  .footer_secondside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 120px;
    height:150px ;
  }
  .footer_3sides{
    display: flex;
    width: 60%;
    margin-left: 20%;
    justify-content: space-evenly;
  }
  .fotter_icons{
    opacity: 0.1;
  }
 
  .navicon{
  
    opacity: 1;
    animation-name: icon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  .home:hover {
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .home:after {
    content: "";
    height: 5px;
    width: 0px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .home:hover::after{
  width: 100%;
  left: 0%;
  }
  .discover:hover{
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .discover::after{
    content: "";
    height: 5px;
    width: 10px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .discover:hover::after{
    width: 100%;
    left: 0%;
  }
  .travel:hover {
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .travel:after {
    content: "";
    height: 5px;
    width: 0px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .travel:hover::after{
  width: 100%;
  left: 0%;
  }
  .discover:hover{
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .discover::after{
    content: "";
    height: 5px;
    width: 0px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .discover:hover::after{
    width: 100%;
    left: 0%;
  }
  .di:hover {
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .di:after {
    content: "";
    height: 5px;
    width: 0px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .di:hover::after{
  width: 100%;
  left: 0%;
  }
  .discover:hover{
    text-shadow: 0px 0px 5px rgb(209, 141, 141);
    color: blue;
    cursor: pointer;
  }
  .discover::after{
    content: "";
    height: 5px;
    width: 0px;
    background: wheat;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 1s;
  }
  .discover:hover::after{
    width: 100%;
    left: 0%;
  }
  @keyframes icon{
    from{
      opacity: 1;
    }
    to{
     opacity: 0;
    }
  }
  @media(max-width:1024px){
    .section2_bottamtitle{
        width: 350px;
    }
    
  }
  @media(max-width:480px){
    .header{
        display: none;
    }
    .mobile{
        opacity: 1;
    }
    .footer{
        width: 40%;
        height: 10%;
        
    }
    .footer_3sides{display: none;}
    .footer_firstside{
      margin-left: 100px;
    }

    
    .section2_botam{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section2_botamicons{
        margin-left: 90px;
        margin-top: 20px;
    }
    }
    
  