.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #fcfcfc;
}
.display {
  width: 79.2%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
}
.hederone {
  display: flex;
}
.travel {
  margin-left: 73px;
}
.nav {
  display: flex;
}
.ul {
  display: flex;
}
.home {
  margin-right: 73px;
}
.navicon {
  width: 20px;
  height: 20px;
}
.explord {
  font-size: 22px;
  margin-left: 5px;
}

.section_1 {
  width: 100%;
  background-image: url(/imgs/image.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
}

.space {
  width: 80%;
  display: flex;
  margin-top: 50px;
  color: aliceblue;
  justify-content: space-between;
  margin: 50px auto;
}
.button {
  display: flex;
}
