.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #fcfcfc;
  font-family: 'Splash', cursive;
}
.display {
  width: 79.2%;
  margin: 0 auto;
}





.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
}
.hederone {
  display: flex;
}
.travel {
  margin-left: 73px;
  position: relative;
}
.nav {
  display: flex;
}
.ul {
  display: flex;
}
.home {
  margin-right: 73px;
  position: relative;
}
.di{
  position: relative;
}
.discover {
  position: relative;
}
.navicon {
  width: 20px;
  height: 20px;
}
.explord {
  font-size: 22px;
  margin-left: 5px;
  position: relative;
}

.section_1 {
  width: 100%;
  background-image: url("../imgs/image.png");

  height: 300px;
  background-position: center;
  background-size: cover;
}
.box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btnclaas {
  display: flex;
  align-items: center;
  
}

.firstline {
  width: 100%;
  display: flex;
  margin-top: 50px;
  color: #f0f0f0;

  justify-content: space-between;
}
.firstinp {
  font-size: 15px;
  opacity: 0.5;
}
.btn {
  width: 120px;
  height: 30px;
  margin-left: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.hedartext_2 {
  font-size: 12px;
}
.headersection {
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerh3 {
  font-size: 36px;
  color: #f0f0f0;
}
.header_p {
  color: #f0f0f0;
}
.header_button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: #f0f0f0;
  background-color: #6294a2;
  cursor: pointer;
}
.section_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.general_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  flex-wrap: wrap;
}
.generaltitile {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}
.generaltitle_1 {
  display: flex;
}
.genboll {
  width: 10px;
  height: 10px;
  background-color: #6294a2;
  border-radius: 50%;
  margin-top: 10px;
}
.genh3 {
  font-size: 25px;
}
.generaltitle_2 {
  font-size: 12px;
  opacity: 0.32;
}
.pic_1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pic_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  flex-wrap: wrap;
}
.pic_p {
  font-size: 13px;
  opacity: 0.24;
}
.pic_h {
  font-size: 20px;
}
.pic_2p {
  font-size: 15px;
}
.general_2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.boll {
  width: 10px;
  height: 10px;
  background-color: #6294a2;
  border-radius: 50%;
  margin-top: 10px;
}
.box_3 {
  width: 406px;
  height: 269px;
  background-image: url(../imgs/image2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  margin-left: 50px;
}
.boxtext3 {
  width: 256px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
}

.box3_p1 {
  font-size: 15px;
  color: #f0f0f0;
  opacity: 0.35;
}
.box3_h3 {
  font-size: 32px;
  color: #f0f0f0;
}
.box3_p2 {
  font-size: 15px;
  color: #fcfcfc;
  opacity: 0.57;
}
.box3_btn {
  width: 105px;
  height: 44px;
  background-color: #010002;
  color: #f0f0f0;
  border-radius: 20px;
  cursor: pointer;
}
.box_4 {
  width: 406px;
  height: 269px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 30px;
  justify-content: space-evenly;
}
.blueboll_box4 {
  display: flex;
}
.blueboll {
  width: 10px;
  height: 10px;
  background-color: #6294a2;
  border-radius: 50%;
  margin-top: 10px;
}
.box4_h {
  font-size: 26px;
  margin-left: 10px;
}
.ipute {
  border: none;
  height: 30px;
  width: 250px;
}
.box4_btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: #f0f0f0;
  background-color: #6294a2;
  font-size: 17px;
  cursor: pointer;
}
.box4_p {
  margin-left: 10px;
}
.footer {
  width: 80%;
  display: flex;
  height: 220px;
  align-items: center;
  margin-top: 30px;
}
.footer_firstside {
  width: 350px;
}
.copyrighte {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.footer_h {
  font-size: 22px;
}
.footer_copy {
  font-size: 18px;
  opacity: 0.27;
}
.foter_travel {
  margin-top: 30px;
}
.footer_p {
  font-size: 15;
  opacity: 0.58;
  margin-top: 5px;
}
.footer_secondside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 120px;
  height: 150px;
}
.footer_3sides {
  display: flex;
  width: 60%;
  margin-left: 20%;
  justify-content: space-evenly;
}
.fotter_icons {
  opacity: 0.1;
}
.burgericon {
  width: 50px;
  height: 50px;
  
}
.home:hover {
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.home:after {
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.home:hover::after{
width: 100%;
left: 0%;
}
.discover:hover{
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.discover::after{
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.discover:hover::after{
  width: 100%;
  left: 0%;
}
.travel:hover {
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.travel:after {
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.travel:hover::after{
width: 100%;
left: 0%;
}
.discover:hover{
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.discover::after{
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.discover:hover::after{
  width: 100%;
  left: 0%;
}
.di:hover {
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.di:after {
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.di:hover::after{
width: 100%;
left: 0%;
}
.discover:hover{
  text-shadow: 0px 0px 5px rgb(209, 141, 141);
  color: blue;
  cursor: pointer;
}
.discover::after{
  content: "";
  height: 5px;
  width: 0px;
  background: wheat;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 1s;
}
.discover:hover::after{
  width: 100%;
  left: 0%;
}
.dropdwoan {
  width: 100%;
  background-color: black;
  height: 80px;
  display: none;
 
}

.lefticon {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
 
}

.list {
  width: 100px;
  color: aliceblue;
  display: block;

  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.burgerico{
    width: 100px;
  color: aliceblue;
  display: block;

  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.menu {
  background-color: rgb(0, 0, 106);
  border-radius: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}
.burgerico:hover .menu {
  display: block;
}
.burger {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 20px;
}
.list:hover {
  background-color: rgb(67, 67, 67);
}

@media (max-width: 1240px) {
  .pic_1 {
    margin-left: 50px;
  }
  .general_2 {
    display: flex;
  }
  .box_3 {
    margin-left: 00px;
  }
  .box_4 {
    margin-left: 00px;
  }
  .pic_text {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .header {
    display: none;
  }
 
  .pic_text{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .genh3 {
    font-size: 16px;
  }
  .pic_1 {
    margin-left: 50px;
  }
  .general_1 {
    margin-top: 20px;
  }
  .generaltitile {
    margin-left: 50px;
  }
 
  .headerh3 {
    font-size: 18px;
  }
  .header_p {
    font-size: 10px;
  }
  .header_button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 10px;
  }
  .btn {
    width: 100px;
    font-size: 10px;
  }
  .footer {
    width: 100%;
    
    height: 10%;
    
  }
  
  .footer_firstside{
   
    display: none;
  }
  .dropdwoan {
    display: block;
  }
}
.navicon{
  
  opacity: 1;
  animation-name: icon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes icon{
  from{
    opacity: 1;
  }
  to{
   opacity: 0;
  }
}